<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>Superhero Sightings</title>

        <style>
            #colour{
                background-color: #ffffe6 ;
            }

            #backgroundcolour{
                background-color:  #b0daf1;
            }

            #top{
                background-color:#f194b4;
            }
        </style>
    </head>

    <body>
        <!-- Main Body of Page -->
        <div class="container" id="backgroundcolour">
            <div class="row m-2" id="top">
                <div class="col text-center border border-dark" >
                    <h1>Superhero Sightings: Sighting</h1>
                </div>
            </div>
            <div class="row m-2 border border-dark" id="top">
                <div class="col text-center m-3">
                    <a href="index" class="btn btn-outline-primary btn-lg">Home</a>
                </div> 
                <div class="col text-center m-3">
                    <a href="heroes" class="btn btn-outline-primary btn-lg">Supers</a>
                </div>
                <div class="col text-center m-3">
                    <a href="superpowers" class="btn btn-outline-primary btn-lg">Powers</a>
                </div>
                <div class="col text-center m-3">
                    <a href="organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
                </div>
                <div class="col text-center m-3">
                    <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
                </div>
                <div class="col text-center m-3">
                    <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
                </div>
            </div>

            <div class="row m-4 border border-dark" id="colour">
                <div class="text-center m-3">
                    <span class="h3">Are you sure that you want to delete this sighting?</span>
                </div>
                <div class="col-7 text-center m-3">
                    <form action="deleteSighting"  method="POST">

                        <div class="row">
                            <div class="col-4 text-left"><strong>Super :</strong></div>
                            <div class="col-8 text-left">
                                <span th:text="${sighting.hero.name}"></span>
                            </div> 
                        </div>
                        <div class="row">
                            <div class="col-4 text-left"><strong>Location :</strong></div>
                            <div class="col-8 text-left">
                                <span th:text="${sighting.location.name}"></span>
                            </div> 
                        </div>

                        <div class="row">
                            <div class="col-4 text-left"><strong>Date :</strong></div>
                            <div class="col-8 text-left">
                                <span th:text="${sighting.date}"></span>
                            </div>

                            <div class="row m-4">
                                <div class="m-4">
                                    <button type="submit" class ="btn btn-danger">Ok</button>
                                </div>
                                <div class="m-4">
                                    <a href="sightings" class="btn btn-primary">Cancel</a>
                                </div>
                            </div>
                            <input type="hidden" name="id" th:value="${sighting.sightingId}"/>

                    </form>
                </div>
            </div>
        </div>

        <!-- End main body -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    </body>

</html>;





