<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>Superhero Sightings</title>
        <style>
            #detail{
                margin-bottom: 10px;
            }

            #colour{
                background-color: #ffffe6;
            }

            #backgroundcolour{
                background-color: #b0daf1 ;
            }

            #top{
                background-color:#f194b4;
            }
        </style>

    </head>

    <body>
        <!-- Main Body of Page -->
        <div class="container" id="backgroundcolour">
            <div class="row m-2"  id ="top">
                <div class="col text-center border border-dark">
                    <h1>Superhero Sightings: Organization</h1>
                </div>
            </div>
            <div class="row m-2 border border-dark"  id ="top">
                <div class="col text-center m-3">
                    <a href="index" class="btn btn-outline-primary btn-lg">Home</a>
                </div>
                <div class="col text-center m-3">
                    <a href="heroes" class="btn btn-outline-primary btn-lg">Supers</a>
                </div>
                <div class="col text-center m-3">
                    <a href="superpowers" class="btn btn-outline-primary btn-lg">Powers</a>
                </div>
                <div class="col text-center m-3">
                    <a href="organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
                </div>
                <div class="col text-center m-3">
                    <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
                </div>
                <div class="col text-center m-3">
                    <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
                </div>



            </div>

            <div class="col text-center">
                <h3> Details of the Location: <span th:text="${organization.name}"></span></h3>
            </div>
            <form action="detailsSuperpower" method="POST">
                <div class =" row m-2" id="colour">
                    <div class="col-6 border border-dark">




                        <!-- Description -->
                        <div class="row">
                            <div class="col-4 text-left"><strong>Type:</strong></div>
                            <div class="col-8 text-left">
                                <span th:if="${organization.isHero}">Superhero</span>
                                <span th:unless="${organization.isHero}">Supervillain</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 text-left"><strong>Description :</strong></div>
                            <div class="col-8 text-left">
                                <span th:text="${organization.description}"></span>
                                <p th:if="${organization.description == null||organization.description.isEmpty()||organization.description.trim().isEmpty()}">No description available</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 text-left"><strong>Address :</strong></div>
                            <div class="col-8 text-left">
                                <span th:text="${organization.address}"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 text-left"><strong>Contact:</strong></div>
                            <div class="col-8 text-left">
                                <span th:text="${organization.contact}"></span>
                            </div>
                        </div>

                        <div class="row m-3">
                            <div class="col-2 text-center m-3 border border-dark">
                                <a href="#" th:href="@{/editOrganization(id=${organization.organizationId})}">Edit</a>

                            </div>
                            <div class="col-2 text-center m-3 border border-dark">
                                <a href="#" th:href="@{/deleteOrganization(id=${organization.organizationId})}">Delete</a>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="id" th:value="${organization.organizationId}"/>
            </form>
            <div class="col-6 border border-dark">
                <div class="col text-center">
                    <span><strong>Members</strong></span>
                    <div class="text-left">
                        <span th:each="hero : ${heroes}">
                            <span th:text="${
                                  hero.name}">
                                display hero</span><br/>
                        </span>
                    </div>

                </div>
            </div>

        </div>


        <!-- End main body -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    </body>

</html>



