<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>Superhero Sightings</title>

        <style>
            #colour{
                background-color: #ffffe6 ;
            }

            #backgroundcolour{
                background-color:  #b0daf1;
            }

            #top{
                background-color:#f194b4;
            }

            #intro{
                background-color:#c0c5c1;
            }
        </style>
    </head>

    <body>
        <!-- Main Body of Page -->
        <div class="container" id="backgroundcolour">
            <div class="row m-2" id="top">
                <div class="col text-center border border-dark">
                    <h1>Superhero Sightings</h1>
                </div>
            </div>
            <div class="row m-2 border border-dark" id="top">
                <div class="col text-center m-3">
                    <a href="index" class="btn btn-outline-primary btn-lg">Home</a>
                </div>
                <div class="col text-center m-3">
                    <a href="heroes" class="btn btn-outline-primary btn-lg">Supers</a>
                </div>
                <div class="col text-center m-3">
                    <a href="superpowers" class="btn btn-outline-primary btn-lg">Powers</a>
                </div>
                <div class="col text-center m-3">
                    <a href="organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
                </div>
                <div class="col text-center m-3">
                    <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
                </div>
                <div class="col text-center m-3">
                    <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
                </div>
            </div>

            <div class="row m-2 border border-dark" id="intro">
                <div class="row">
                    <div class="col-8">
                        <p><strong>Sightings of superheroes and supervillains are on the rise across the world. Keep tabs on your favourite 
                                superheroes and supervillains here with the Hero Education and Relationship Organization's(HERO) official 
                                hero sighting tracker.</br>
                                Supers, their powers, organizations, sightings at different locations can be managed with the links above.</br>

                                <span style="color:magenta;">Check out the latest sightings of Supers below!</span></strong></p>
                    </div>
                    <div class="col-4">
                        <img src="https://img.playbuzz.com/image/upload/ar_1.5,c_pad,f_jpg,b_auto/cdn/8667ac9d-9e00-44b1-8b45-7579cc95b0e7/770924e4-7aab-4adc-8e38-aef51effdeaf.jpg" style="width:auto;height:150px;">
                    </div>
                </div>

            </div>

            <!-- 10 MOST RECENT SIGHTINGS -->
            <!-- Sighting Listing -->
            <div id="colour">

                <div class=" m-2 border border-dark">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th>Date</th>
                                <th>Super</th>
                                <th>Location</th>
                                <th>Details</th>
                                <th>SuperImage</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="sighting : ${sightings}">

                                <td th:text="${sighting.date}">Date</td>
                                <td th:text="${sighting.hero.name}">Super</td>
                                <td th:text="${sighting.location.name}">Location</td>

                                <td><a href="#" th:href="@{/detailsSighting(id=${sighting.sightingId})}">Details</a></td>
                                <td><img alt="This hero/villain has no image"
                                         th:src="@{'heroes/' + ${sighting.hero.heroId} + '/image'}"
                                         width="100" height="100"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="m-2">

                    <div id="map-canvas" style="width: 1100px; height: 500px;">
                    </div>

                </div>  

            </div>    

        </div>
        <!-- End main body -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>


    </body>

</html>

<!-- GOOGLE MAPS API -->
<script th:inline="javascript">
    var map;
    var latlng;
    var infowindow;

    $(document).ready(function () {
        //get data set from the backend in a json structure

     

        var message = /*[[${sightings}]]*/ 'default';
        console.log(message);

     



        var data = message.map(msg => ({
                "hero": msg.hero.name,
                "location": msg.location.name,
                "latitude": msg.location.latitude,
                "longitude": msg.location.longitude
            }));

        
        ViewCustInGoogleMap(data);
    });

    function ViewCustInGoogleMap(data) {

        var gm = google.maps; //create instance of google map
        //add initial map option
        var mapOptions = {
            center: new google.maps.LatLng(44.986656, -93.258133), //USA CA
            zoom: 4,
            //mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        //bine html tag to show the google map and bind mapoptions
        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        //create instance of google information windown
        infowindow = new google.maps.InfoWindow();
        var marker, i;
        // var MarkerImg = "https://maps.gstatic.com/intl/en_us/mapfiles/markers2/measle.png";
        // var MarkerImg2 = "https://maps.gstatic.com/intl/en_us/mapfiles/markers2/measle_blue.png";

        //loop through all the locations and point the mark in the google map
        for (var i = 0; i < data.length; i++) {
            marker = new gm.Marker({
                position: new gm.LatLng(data[i]['latitude'], data[i]['longitude']),
                map: map,
                // icon: MarkerImg
            });


            //add info for popup tooltip
            google.maps.event.addListener(
                    marker,
                    'click',
                    (
                            function (marker, i) {
                                return function () {
                                    infowindow.setContent(data[i]['hero'] + " at " + data[i]['location']);
                                    infowindow.open(map, marker);
                                };
                            }
                    )(marker, i)

                    );
        }

    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key="API KEY"&sensor=true"
type="text/javascript"></script>
